.gallery {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-gap: 24px;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .gallery-item img {
    width: 360px;
    height: 200px;
  }

  .custom-hover {
    cursor: url('/path-to-your-image/Vector.png'), auto;
  }